.titleContainer {
  background-color: #333;
  color: #e3e3e3;
}
.title {
  margin: 0;
  padding: .5em 0 .25em;
  text-align: center;
}
.desc {
  margin: 0;
  text-align: center;
  padding-bottom: 1em;;
}


.App {
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0 2em;
}


.pixel {
  width: 20px;
  height: 20px;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;
}
.pixel.current-color {
  border: 3px solid yellow;
}


.canvas {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
}