.white {
  background-color: #fff;
}
.lightblue {
  background-color: rgb(116, 206, 218);
}
.blue {
  background-color: rgb(3, 169, 244);
}
.darkblue {
  background-color: rgb(33, 150, 243);
}
.lavender {
  background-color: rgb(220, 210, 247);
}